@charset "utf-8";
/* CSS Document */

body {margin:0px; padding:0px; font-family:"微软雅黑" Arial, Helvetica, sans-serif;font-size:14px;background:url(images/login/reg_bg.jpg) repeat;}
input,select,textarea,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,form,p,label{ padding:0; margin:0;}
dt,dd,dl{ padding:0; margin:0; line-height:0px;}
table{border-collapse:collapse;border-spacing:0;}
ul{ list-style-type:none;} 
li{list-style-type:none;}
p{text-decoration:none;color:#333333;}
a{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;}
img{border:none;}
.clear{clear:both;}


.reg_logo{height:90px;border-bottom:1px solid #cecece;margin-top:20px;}
.reg_logo_img{width:406px;margin:auto;}
.reg_logo_img a{position:relative;top:51px;}

.reg_con{width:680px;margin:auto;margin-top:150px;position:relative;}
	.reg_top{width:680px;height:18px;background:url(images/login/reg_top.jpg) no-repeat;}
	.reg_bottom{width:680px;height:42px;background:url(images/login/reg_b.jpg) no-repeat;position:relative;_top:-2px;}
	.reg_m{width:680px;height:510px;background:url(images/login/reg_mid.jpg) repeat-y;position:relative;_top:-2px;}
	.head{position:absolute;top:-90px;left:255px;}
	.reg_m form{margin:90px 0px 0px 110px;float:left;display:inline;}
	.reg_m form input{outline:none;font-size:18px;color:#a3a4a1;border:0;}
	.reg_input1{width:340px;height:28px;padding:16px 60px;background:url(images/login/reg_border.png) -9px -26px no-repeat;}
	.reg_input2{width:340px;height:20px;padding:20px 60px;background:url(images/login/reg_border.png) -9px -107px no-repeat;}
	.reg_input3{width:340px;height:20px;padding:20px 60px;background:url(images/login/reg_border.png) -9px -188px no-repeat;}
	.reg_input4{width:460px;height:60px;display:block;background:url(images/login/reg_border.png) -9px -273px no-repeat;}
	.reg_input4:hover{background:url(images/login/reg_border.png) -9px -356px no-repeat;}
.copy_right{width:680px;margin:auto;margin-top:20px;text-align:center;line-height:30px;}
	.forget_key{padding-left:20px;color:#f00;}
	.login_c{position:relative;top:2px;margin-left:10px;}
	.name_login a{font-size:18px;font-family:"微软雅黑";padding-left:50px;display:block;float:left;width:200px;height:50px;line-height:40px;}
	.wb{background:url(images/login/wb.jpg) no-repeat;}
	.qq{background:url(images/login/qq.jpg) no-repeat;}
	.reg_input5{width:460px;height:60px;display:block;background:url(images/login/reg_border.png) -12px -445px no-repeat;}
	.reg_input5:hover{background:url(images/login/reg_border.png) -12px -520px no-repeat;}